

.pinned {
	 position: fixed !important;
}

.card-image {
	height: 260px !important;
}

.button-list li a {
	margin: 5px auto;
	width: 208px !important;
	color: white !important;
}

.bigger-top-margin {
	margin-top: 20px !important;
}

.capitalize {
   text-transform: capitalize;
}

.card-reveal-pic {
	margin: auto;
}

.card-reveal-date-time {
	font-weight:bold !important;
}

.save-btn {
	margin-top: 30px !important;
}