<div ng-controller="navbarCtrl">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper red">
				<div class="container">
					<div class="row">
				      <a href="#" class="brand-logo">RokBlok</a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
<!-- 				        <li><a id="checkFacebookLogin" ng-click="statCheck()">Check Facebook Login</a></li>
				        <li><a id="checkFirebaseLogin" ng-click="firebaseCheck()">Check Firebase Login</a></li> -->
				        <li><a id="logOut" ng-click="logoutClicked()" ng-show="showLogoutButton">Logout</a></li>
				      
						<li><div ng-show="isLoggedIn" id="targetDiv"></div></li>
						<li><div ng-show="isLoggedIn" id="userName"></div></li>
						<li><a ng-show="isLoggedIn" ng-click="logOutLink()" id="logout">Logout</a></li>
				      </ul>
				    </div>
			    </div>
			</div>
		</nav>
	</div>
</div>