<div ng-controller="navbarCtrl">
	<div class="navbar-fixed">
		<nav>
			<!-- <div class="nav-wrapper red darken-4"> -->
			<div class="navbar-background">
				<div>
				<!-- <div class="container"> -->
					<div class="row">
				      <!-- <a href="#" class="brand-logo">RokBlok</a> -->
				      <img id="navbar-logo" src="../images/blacklabel-60-rokblok.jpg">
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a id="logOut" ng-click="logoutClicked()" ng-show="showLogoutButton"><img id="log-out-image" src="../images/blacklabel-40-log-out.jpg"></a></li>
				      </ul>
				    </div>
			    </div>
			</div>
		</nav>
	</div>
</div>
