<div> <!-- ng-controller="eventShowCtrl" -->
	<div class="row">

		<div class="col s3">
			<div class="pinned">
				<div class="nav-wrapper">
					<div>
						<ul>
							<li><button ng-click="sortBy('band_name')">Sort by Band Name</button></li>
							<li><button ng-click="sortBy('start_time')">Sort by Date</button></li>
<!-- 							<li><button ng-click="showLikes({data_id: '-'})">Show Saved</button></li>
							<li><button ng-click="showLikes({})">Show All</button></li> -->
							<li><button ng-click="showOnlyLikes=true">Show Saved</button></li>
							<li><button ng-click="showOnlyLikes=false">Show All</button></li>
						</ul>
					</div>

					<div>
						<label for="inputText">Search by City:</label>
						<input type="text" ng-model="searchText.city" id="searchText" name="searchText">
					</div>
				</div>
			</div>
		</div>

		<div class="col s9">

			<div ng-hide="displayDataReady">
				<h2>LOADING</h2>
			</div>

			<div ng-show="displayDataReady">
				<div>
					<h3>Shows:</h3>
				</div>

				<!--<div ng-repeat="item in allEvents | filter:searchText | filter:isLiked | orderBy:sortEventsBy">--> <!-- ng-show="isLiked">  filter:searchText, -->

				<div ng-repeat="item in allEvents | filter:searchText | orderBy:sortEventsBy" ng-show="showLikes(item.data_id, showOnlyLikes)">  <!--filter:searchText, -->
					<div class="event-card">

						<div class="row">
							<div class="col s4"><img src="{{item.cover_pic}}" width="250"></div>
							<div class="col s8">{{item.band_name}}</div>
						</div>

						<div class="row">
							<div class="col s6">
								<ul>
									<li>{{item.event_name}}</li>
									<li>{{item.start_time | date:'fullDate'}}</li>
									<li ng-show="item.event_description">{{item.event_description | limitTo:175}}...</li>
									<li><a href="{{item.event_link}}" target="_blank">Link to Event Page</a></li>
									<li>item.data_id: {{item.data_id}}</li>
								</ul>
							</div>	
							<div class="col s3">
								<ul>
									<li>{{item.venue_name}}</li>
									<li><span ng-show="item.city">{{item.city}}, </span><span ng-show="item.state">{{item.state}}</span></li>
									<li ng-show="item.country">{{item.country}}</li>
									<li>
								</ul>
							</div>
							<div class="col s3">
								<a class="waves-effect waves-teal btn-flat green" ng-click="saveEventToFirebase(item.event_id)" ng-hide="item.data_id">Save</a>  <!--ng-hide="item.data_id"-->
								<a class="waves-effect waves-teal btn-flat red" ng-click="deleteEventFromFirebase(item.data_id)"  ng-hide="!item.data_id">Delete</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>