<div class="show-display">
	<div class="row">
		<div class="col s3">
			<div class="pinned">
				<div class="nav-wrapper">
					<div>
						<ul class="button-list">
							<li>
								<a ng-click="sortBy('band_name')" class="waves-effect waves-light btn-flat grey darken-4">Sort by Band Name</a>
							</li>
							<li>
								<a ng-click="sortBy('start_time')" class="waves-effect waves-light btn-flat grey darken-4">Sort by Date</a>
							</li>
							<li>
								<a ng-click="showOnlyLikes=true" class="waves-effect waves-light btn-flat grey darken-4">Show Saved</a>
							</li>
							<li>
								<a ng-click="showOnlyLikes=false" class="waves-effect waves-light btn-flat grey darken-4">Show All</a>
							</li>
							<li class="bigger-top-margin">
								<label>Search by Band Name:</label>
								<input type="text" ng-model="searchText.band_name">
							</li>
							<li>
								<label>Search by City:</label>
								<input type="text" ng-model="searchText.city">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col s9">

			<div ng-hide="displayDataReady">
				<div id="tuning-up-label">
  					<img src="../images/redlabel-100-tuning-up.jpg">
  				</div>
				<div class="progress">
      				<div class="indeterminate"></div>
  				</div>
			</div>

			<div ng-show="displayDataReady">
				<div ng-repeat="item in allEvents | filter:searchText | orderBy:sortEventsBy" ng-show="showLikes(item.data_id, showOnlyLikes)">
					<div class="card large sticky-action">
    					<div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="{{item.cover_pic}}">
						</div>
					    <div class="card-content">
					    	<div class="card-title activator grey-text text-darken-4">
					    		<div class="row">
					    			<div class="col s6">{{item.band_name}}</div>
					    			<div class="col s6">{{item.start_time | date:'fullDate'}}</div>
					    		</div>
					    	</div>

					    <div class="row">
						      <div class="col s4">
							    	<ul>
										<li>{{item.event_name}}</li>
									</ul>
								</div>
								<div class="col s4">
									<ul>
										<li><span class="capitalize">{{item.venue_name}}</span></li>
										<li><span ng-show="item.city">{{item.city}}, </span><span ng-show="item.state">{{item.state}}</span></li>
										<li ng-show="item.country">{{item.country}}</li>
										<li>
									</ul>
								</div>
								<div class="col s4">
									<a class="save-btn waves-effect waves-light btn-flat teal darken-1" ng-click="saveEventToFirebase(item.event_id)" ng-hide="item.data_id">Save</a>
									<a class="save-btn waves-effect waves-light btn-flat red darken-1" ng-click="deleteEventFromFirebase(item.data_id)"  ng-hide="!item.data_id">Unsave</a>
								</div>
							</div>

					    </div>
					    <div class="card-action">
							<a href="{{item.event_link}}" target="_blank">Facebook Event Page</a>
							<a href="{{item.ticket_uri}}" target="_blank" ng-show="item.ticket_uri">Tickets</a>
					    </div>
					    <div class="card-reveal">
						    <div>
						    	<span class="card-title grey-text text-darken-4">{{item.event_name}}<i class="material-icons right">X</i></span>
						    </div>
						    <div class="card-reveal-pic">
						    	<img src="{{item.cover_pic}}">
						    </div>
						    <div>
						    	<ul>
						    		<li ng-show="item.event_description">{{item.event_description}}</li><br>
						    		<li class="card-reveal-date-time">{{item.start_time | date:"EEEE, MMMM d, y 'at' h:mma"}}</li>
						    		<li class="capitalize">{{item.venue_name}}</li>
						    		<li ng-show="item.street">{{item.street}}</li>
									<li>
										<span ng-show="item.city">{{item.city}}, </span><span ng-show="item.state">{{item.state}}</span><span ng-show="item.zip"> {{item.zip | limitTo:5}}</span>
									</li>
									<li ng-show="item.country">{{item.country}}</li>
						    	</ul>
						    </div>
					    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
